<div class="shopping-cart" *ngIf="!isLoading">
  <h2>Shopping Cart</h2>
  <div *ngIf="cart.itemShoppingCarts.length === 0">
    <p>Your cart is empty.</p>
  </div>
  <div *ngIf="cart.itemShoppingCarts.length > 0">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.itemShoppingCarts">
          <td>{{ item.product?.manufacturerName }} - {{ item.product?.mpn }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }} ₽</td>
          <td>{{ item.totalAmount }} ₽</td>
        </tr>
      </tbody>
    </table>
    <p>Total Price: {{ cart.totalPrice }} ₽</p>
  </div>
</div>

<div *ngIf="isLoading">
  <p>Loading...</p>
</div>

<div *ngIf="cart.itemShoppingCarts.length === 0 && !isLoading">
  <p>Failed to load cart. Please try again later.</p>
</div>
