table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Стили для основного блока корзины */
.shopping-cart {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для блока загрузки */
.loading {
  text-align: center;
  margin-top: 20px;
}

/* Стили для сообщения об ошибке при пустой корзине и ошибке загрузки */
.error-message {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ff6347;
  border-radius: 5px;
  background-color: #ffe4e1;
  color: #ff6347;
}
