<div class="shopping-cart" *ngIf="!isLoading">
  <h2>Shopping Cart</h2>
  <div *ngIf="cart.itemShoppingCarts.length === 0">
    <p>Ваша корзина пуста</p>
  </div>
  <div *ngIf="cart.itemShoppingCarts.length > 0">
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th>Цена/шт</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.itemShoppingCarts">
          <td>{{ item.product?.manufacturerName }} - {{ item.product?.mpn }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price | number:'1.2-2' }} ₽</td>
          <td>{{ item.totalAmount | number:'1.2-2' }} ₽</td>
        </tr>
      </tbody>
    </table>
    <p>Итоговая стоимость: {{ cart.totalPrice| number:'1.2-2' }} ₽</p>

    <div class="order-detalis">
      <h2>Оформить заказ</h2>
      <form #orderForm="ngForm" (ngSubmit)="placeOrder()">
        <div>
          <label for="inn">Название компании:</label>
          <input type="text" id="companyName" name="companyName" [(ngModel)]="orderDetails.companyName" required>
        </div>
        <div>
          <label for="inn">ИНН:</label>
          <input type="text" id="inn" name="inn" [(ngModel)]="orderDetails.inn" required>
        </div>
        <div>
          <label for="inn">КПП:</label>
          <input type="text" id="kpp" name="kpp" [(ngModel)]="orderDetails.kpp" required>
        </div>
        <div>
          <label for="inn">Почтовый индекс:</label>
          <input type="text" id="postCode" name="postCode" [(ngModel)]="orderDetails.postCode" required>
        </div>
        <div>
          <label for="inn">Адрес:</label>
          <input type="text" id="address" name="address" [(ngModel)]="orderDetails.address" required>
        </div>
        <div class="submit-order">
          <button type="submit" [disabled]="!orderForm.valid">Оформить заказ</button>

        </div>
      </form>
    </div>
  </div>
</div>
