<div class="container">
  <h2 class="title">{{ data.mnp }}</h2>

  <div class="info-price-container">
  <div class="price-quantity" *ngFor="let price of data.prices">
    <p class="price">{{ price.quantity }} </p>
    <p>{{ price.priceValue  | currency:"RUB":"symbol":"1.3-3"  }}</p>
  </div></div>

  <div class="price-container">
    <div class="pricing">
      <p>Цена (шт.) </p>
      <h3>{{newItem.price| currency:"RUB":"symbol":"1.3-3"  }}</h3>
    </div>
    <div class="pricing">
      <p>Итоговая стоимость</p>
      <h3>{{newItem.totalAmount| currency:"RUB":"symbol":"1.3-3" }}</h3>
    </div>

  </div>
  <form class="form">
    <input class="quantity-input" type="number" [(ngModel)]="newItem.quantity"  placeholder="Количество" name="quantity" (change)="onQuantityChange()">
    <button class="add-button" (click)="addToCart()">Добавить</button>
  </form>
</div>
