
<div class="page-wrap">
  <div class="search-container">
  <input type="text" placeholder="Enter item name" [(ngModel)]="itemName">
  <button (click)="loadProducts()">Search</button>
</div>

  <table *ngIf="products.length > 0" class="business-table">
    <thead>
      <tr>
        <th>Название компании</th>
        <th>Уровень запасов</th>
        <th>Цена за 1 единицу</th>
        <th>Цена за 10 единиц</th>
        <th>Цена за 100 единиц</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.companyName }}</td>
        <td *ngIf="product.offers && product.offers.length > 0">{{ product.offers[0]?.inventoryLevel }}</td>
        <ng-container *ngFor="let offer of product.offers">
          <ng-container *ngFor="let price of offer.prices">
            <td *ngIf="price.quantity === 1 && price.currency === 'USD'">{{ price.priceValue | currency:"USD":"symbol":"1.3-3" }}</td>
            <td *ngIf="price.quantity === 10 && price.currency === 'USD'">{{ price.priceValue | currency:"USD":"symbol":"1.3-3"}}</td>
            <td *ngIf="price.quantity === 100 && price.currency === 'USD'">{{ price.priceValue| currency:"USD":"symbol":"1.3-3"}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>

</div>

