/* Стили для контейнера поиска */
.page-wrap {
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #60829d;
    color: white;
    border: none;
    cursor: pointer;
  }

  input[type="text"] {
    padding: 8px;
    width: 200px;
  }

}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.add-to-cart button{
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #60829d;
  color: white;
  border: none;
  cursor: pointer;
}


.business-table {
  width: 100%;
  border-collapse: collapse;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-table th, .business-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.business-table th {
  background-color: #f2f2f2;
}

.business-table td p {
  margin: 0;
}

.business-table th,
.business-table td:last-child {
  background-color: white;
}

