
<div class="page-wrap">
  <div class="search-container">
  <input type="text" placeholder="Enter item name" [(ngModel)]="itemName">
  <button (click)="loadProducts()">Search</button>
</div>

<div class="content-container">
<table class="business-table" *ngIf="products.length !==0">
  <thead>
    <tr>
      <th>Название компании</th>
      <th>Уровень запасов</th>
      <th>Минимальный заказ </th>
      <th>Цена за 1 единицу</th>
      <th>Цена за 10 единиц</th>
      <th>Цена за 100 единиц</th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr >
      <td>{{ product.company?.name }}</td>
      <td *ngIf="product.offers && product.offers.length > 0">{{ product.offers[0]?.inventoryLevel }}</td>
      <td *ngIf="product.offers && product.offers.length > 0">{{ product.offers[0]?.moq }}</td>

      <td>
        <ng-container *ngFor="let offer of product.offers">
          <ng-container *ngFor="let price of offer.prices">
            <ng-container *ngIf="price.quantity === 1">
              <p>{{ price.priceValue  | number:'1.2-2' }} ₽</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let offer of product.offers">
          <ng-container *ngFor="let price of offer.prices">
            <ng-container *ngIf="price.quantity === 10">
              <p>{{ price.priceValue  | number:'1.2-2' }} ₽</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let offer of product.offers">
          <ng-container *ngFor="let price of offer.prices">
            <ng-container *ngIf="price.quantity === 100">
              <p>{{ price.priceValue  | number:'1.2-2' }} ₽</p>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>

        <div *ngIf="product && product.mpn && product.company && product.company.id &&  product.offers && product.offers.length > 0" class="add-to-cart" >
          <button (click)="openAddToCartModal(product.mpn, product.offers[0]?.id || 0, product.offers[0]?.prices || [], product.offers[0]?.clickUrl || '', product.offers[0]?.moq || 0)">
            Добавить в корзину
          </button>
        </div>

  </tbody>
</table>
</div>
</div>

