/* Общий контейнер */
.orders-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

/* Заголовок Мои заказы */
.orders-container h2 {
  margin-bottom: 15px;
}

.dowload-button{
  display: flex;
  align-self: center;
}

.order {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

/* Заголовок номера заказа */
.order h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Кнопка скачивания договора */
.order button {
  background-color: #3498db;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.order button:hover {
  background-color: #2980b9;
}

/* Заголовок Товары */
.order h4 {
  margin-bottom: 10px;
}

/* Таблица товаров */
.items table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.items th,
.items td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.items th {
  background-color: #f2f2f2;
}
